<nav>
    <a href="{{ site.baseurl }}/" title="página inicial">Blog</a>
    <a href="{{ site.baseurl }}/about" title="página sobre">Sobre</a>
    <a href="{{ site.baseurl }}/mangas" title="página de mangás">Mangás</a>
    <a href="{{ site.baseurl }}/vs" title="página de visual novel">VS</a>
    <a href="{{ site.baseurl }}/simple-calcs" title="página simple calcs">Simple-Calcs</a>
    <a href="{{ site.baseurl }}/myanimelist" title="página myanime list">Lista de Animes</a>
    <a target="_blank" title="página da loja" href="https://www.magazinevoce.com.br/magazinevocesonline/">Loja</a>
</nav>